<div class="backgrd">
    <h1>ONLINE RAILWAY RESERVATION SYSTEM</h1>

    <div class="generic-container">
        <div class="panel panel-default">
            <div class="row">
                <h2 style="text-align: center; font:bold; background-color: rgb(156, 140, 140); color: rgb(15, 15, 15);">LIST OF TRAINS AVAILABLE</h2>
                <div class="tablecontainer">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>TRAIN ID</th>
                                <th>TRAIN NAME</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>No of Seats</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trai of trains">
                                <td>{{trai.train_id}}</td>
                                <td>{{trai.train_name}}</td>
                                <td>{{trai.from}}</td>
                                <td>{{trai.to}}</td>
                                <td>{{trai.cost}}</td>
                                <td>{{trai.seats}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ha"><br>
                <button class="hom" routerLink="/home" mat-raised-button color="primary">Home</button></div>