<body class="Head">
    <div class="bg">
        <h1>ONLINE RAILWAY RESERVATION SYSTEM</h1>
    <div class="card" style="width: 50rem;">
        <div class="card-header">
        </div>
        <ul class="lists">
            <button class="btnn" routerLink='/bookSeats' mat-raised-button color="primary">TICKET RESERVATION</button><br>
            <br>
            <button class="btnn" routerLink='/trainData' mat-raised-button color="primary">Trains </button><br>
            <br>
            <button class="btnn" routerLink='/cancel' mat-raised-button color="primary">CANCEL TICKET </button><br>
            <br>
            <button class="btnn" (click)="logout()" mat-raised-button color="primary"> LOG-OUT </button><br>
        </ul>
    </div>
</div>
</body>