.lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

body {
    margin: 5px;
    padding: 5px;
    background: linear-gradient(120deg, #2691d9, #8e44ad);
}
.card{
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: white;
}


