<body class="bg">
    <div class="Head">
        <h1>ONLINE RAILWAY RESERVATION SYSTEM</h1>
        <div class="container">
            <div class="row">
                <div class="ssss">
                    <div class="www" style="text-align:left;">
                        <ul>
                         <br>
                        <h3>Admin Functions</h3>
                        <br>
                        <li> <a routerLink="/add">Add trains</a></li>
                        <br>
                        <li><a routerLink="/Trains">Manage trains</a></li>
                        <br>
                        <li><a routerLink="/home">Log-Out</a></li>
                        <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>